
body {
    background-image: url("Untitled52_20220123215317N.png");
    background-size: 100%;
    background-repeat:no-repeat ;
    background-attachment: fixed;
 }
 h5{
     color: white;
 }

 .im, .imp{
     display: none;
 }
 h1{
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: white;
     text-align: center;
     position: fixed;
     margin-right: 35%;
 }
 
 .box{
     height: 160px;
     width: 100%;
     border: 5px solid rgba(255, 255, 255, 0);
     position: relative;
    }
    
    .box3, .box1 {
        height: 100px;
        width: 195px;
    }
    .box1{
        background-color: rgba(255, 255, 0, 0);
 
        position: fixed;
    }
    .box3{
        background-color: rgba(153, 205, 50, 0);
        position: fixed;
        left: -5px;
        top: -5px;
    }
  .row {
     animation-name: ek;
     animation-duration: 2s;
   position: relative;
   animation-direction: alternate;
 }
 
 @keyframes ek {
     0%{
         left: 100px;
     }
     100%{
         left: 0px;
     }
 }body {
    background-image: url("Untitled52_20220123215317N.png");
    background-size: 100%;
    background-repeat:no-repeat ;
    background-attachment: fixed;
 }
 
 h1{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: white;
     text-align: center;
     position: fixed;
     margin-right: 35%;
 }
 
 .box{
     height: 160px;
     width: 100%;
     border: 5px solid rgba(255, 255, 255, 0);
     position: relative;
    }
    
    .box3, .box1 {
        height: 100px;
        width: 195px;
    }
    .box1{
        background-color: rgba(255, 255, 0, 0);
 
        position: fixed;
    }
    .box3{
        background-color: rgba(153, 205, 50, 0);
        position: fixed;
        left: -5px;
        top: -5px;
    }
  .row {
     animation-name: ek;
     animation-duration: 2s;
   position: relative;
   animation-direction: alternate;
 }
 
 @keyframes ek {
     0%{
         left: 100px;
     }
     100%{
         left: 0px;
     }
 }

 @media(max-width:942px){
.im{
    margin-top: 15px;
    display: block;
    border-radius: 50%;
    height: 40px;
    width: 43px;
}
.imp{
    margin-top: 13px;
    margin-right: -44px;
    color: white;
    display: inline-block;
    font-size: 4px;

}
#q, #w, #e, #r{
    color: white;
}
h5{
    color: black;
}
 }

 @media(max-width:515px){
    #q, #w, #e, #r{
        color: black;
    }
    h5{
        color: black;
    }   
 }

 @media(max-width:178px){
      h1{
    color: black;
}
 }
 
